* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: url("../img/bg.png") repeat;
}

body {
	font-family: 'Open Sans', sans-serif;
}


/** ISOTOPE **/

.isotope:after {
	content: '';
	display: block;
	clear: both;
}


/** ITEMS **/

/* Default sizing is .social */
.item {
	position: relative;
	float: left;
	width: 64px;
	height: 64px;
	margin: 4px;
}

.item > * {
	margin: 0;
	padding: 0;
}

.logo {
	width: 280px;
	height: 280px;
}

.project {
	width: 280px;
	height: 136px;
}

.video {
	width: 136px;
	height: 136px;	
}

.x {
	width: 136px;
}

.y {
	height: 136px;
}

.xx {
	width: 280px;
}

.yy {
	height: 280px;
}

.project, .video, .about {
	background-color: #ffffff;
	padding: 10px;
	-moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.project a, .video a {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

p.desc {
	margin-top: 8px;
}

.project:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: 32px solid transparent;
	border-left: 32px solid transparent;
	border-right: 32px solid #222222;
	pointer-events: none;
}

.unrealscript:after {
	border-right-color: #a54c4d;
}

.javascript:after {
	border-right-color: #f15501;
}

.python:after {
	border-right-color: #3581ba;
}

.java:after {
	border-right-color: #b07219;
}