* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: url("../img/bg.png") repeat;
}

body {
	font-family: 'Open Sans', sans-serif;
}


/** http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/ **/

body {
	margin: 0;
}

.row, .col {
	overflow: hidden;
	position: absolute;
}

.row {
	left: 0;
	right: 0;
}

.col {
	top: 0;
	bottom: 0;
}

.scroll-x {
	overflow-x: auto;
}

.scroll-y {
	overflow-y: auto;
}


/** PANE CONFIGURATION **/

.header.row {
	height: 144px;
	background-color: #f8f8f8;
	box-shadow: 0 0 10px 2px #969896;
	z-index: 100;
	overflow: visible;
}
.body.row {
	top: 144px;
	bottom: 0;
	padding: 8px;
}


.header {
	padding: 8px;
}


/** HEADER **/
.logo {
	width: 128px;
	height: 128px;
}


/** ISOTOPE **/

.isotope:after {
	content: '';
	display: block;
	clear: both;
}


/** ITEMS **/

/* Default sizing is .social */
.item {
	position: relative;
	float: left;
	width: 64px;
	height: 64px;
	margin: 4px;
}

.item > * {
	margin: 0;
	padding: 0;
}



.project {
	width: 280px;
	height: 136px;
}

.x   { width:  136px; }
.y   { height: 136px; }
.xx  { width:  280px; }
.yy  { height: 280px; }
.yyy { height: 424px; }

.expandable #expand, .expandable #content {
	display: none;
}

.project, .about {
	background-color: #ffffff;
	padding: 10px;
	-moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.project a {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

p.desc {
	margin-top: 8px;
}

.project:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: 32px solid transparent;
	border-left: 32px solid transparent;
	border-right: 32px solid #222222;
	pointer-events: none;
}


/** LANGUAGES **/

.unrealscript:after { border-right-color: #a54c4d; }
.javascript:after   { border-right-color: #f15501; }
.python:after       { border-right-color: #3581ba; }
.java:after         { border-right-color: #b07219; }