/**
 * Navigataur: A pure CSS responsive navigation menu
 * Author: Mike King (@micjamking)
 * Somewhat modified by @willyg302
 */

/** FUNCTIONAL STYLES **/

/* Tim Pietrusky advanced checkbox hack (Android <= 4.1.2) */
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

#toggle, .toggle {
	display: none;
}

.menu > li {
	list-style: none;
	float: left;
}

@media only screen and (max-width: 1176px) {
	.menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
	.menu > li { display: block; width: 100%; margin: 0; }
	.menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
	#toggle:checked ~ .menu { display: block; opacity: 1;}
}


/** PRESENTATION STYLES **/

ul.menu {
	margin: 0;
	padding: 0;
}

.nav {
	display: block;
	float: right;
}

.nav, .menu, .menu > li, .menu > li > a {
	height: 100%;
}

.menu > li > a {
	display: block;
	padding: 56px 20px;
	text-decoration: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	color: #000000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;

	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.menu > li > a:hover, .menu > li > a:focus {
	background: #f3f2f4;
	box-shadow: inset 0px 5px #dc322f;
	color: #dc322f;
	padding: 61px 20px 34px;
}

.menu > li > a.active {
	background: #f3f2f4;
	color: #dc322f;
	padding: 56px 20px 34px;
}

.toggle {
	z-index: 102;
}

@media only screen and (max-width: 1176px) {
	.menu {
		background: #ffffff;
		border-top: 1px solid #dc322f;
	}

	.menu, .menu > li, .menu > li > a {
		height: auto;
	}

	.menu > li > a {
		color: #000000;
		padding: 15px 15px;
	}
	
	.menu > li > a:hover, .menu > li > a:focus {
		background: #f3f2f4;
		box-shadow: inset 5px 0px #dc322f;
		padding: 15px 15px 15px 20px;
	}

	.menu > li > a.active {
		background: #f3f2f4;
		padding: 15px 15px 15px 20px;
	}
	
	.toggle:after {
		content: 'Menu';
		display: block;
		width: 128px;
		height: 128px;
		margin-bottom: 8px;

		
		padding: 46px 20px;
		background: #f3f2f4;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
		font-size: 24px;
		
		color: #dc322f;

		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
	}
	
	.toggle:hover:after {
		background: #e0e0e0;
	}
	
	#toggle:checked + .toggle:after {
		content: 'Close';
	}
}