*,
*:after,
*::before {
	.box-sizing(border-box);
}

html {
	background: url("img/bg.png") repeat;
}

body {
	margin: 0;
	font-family: @font;
	background-color: none;
}

h2, h4 {
	font-weight: bold;
}

h2 {
	font-size: 24px;
}

h4 {
	font-size: 16px;
}

#isotope {
	padding: @tile-margin * 2;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}


// ITEMS

.item {
	position: relative;
	float: left;
	width: @tile;
	height: @tile;
	margin: @tile-margin;

	> * {
		margin: 0;
		padding: 0;
	}
}

.x-1 { width:  @tile; }
.y-1 { height: @tile; }
.x-2 { width:  @tile2; }
.y-2 { height: @tile2; }
.x-4 { width:  @tile4; }
.y-4 { height: @tile4; }
.x-6 { width:  @tile6; }
.y-6 { height: @tile6; }

.expandable .content {
	display: none;
}

.about {
	background-color: @color-tile-bg;
	padding: 10px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.project {
	&:extend(.about);
	width: @tile4;
	height: @tile2;

	a {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 0;
		height: 0;
		border-bottom: 32px solid transparent;
		border-left: 32px solid transparent;
		border-right: 32px solid @color-no-lang;
		pointer-events: none;
	}
}

.social {
	background: @color-tile-bg;
}

p.desc {
	margin-top: 8px;
}


// NAV BUTTONS

.nav {
	font-family: inherit;
	font-size: 18px;
	border: 3px solid @color-cobalt;
	color: @color-cobalt;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	overflow: hidden;

	width: @tile2;
	height: @tile;

	.transition(color 0.3s);

	&:after {
		content: '';
		position: absolute;
		z-index: -1;

		width: 100%;
		height: 0;
		top: 50%;
		left: 50%;
		background: @color-cobalt;

		.transition(height 0.3s);
		.translate(-50%, -50%);
	}

	&:hover, &:focus {
		color: @color-tile-bg;

		&:after {
			height: 75%;
		}
	}

	&:active {
		color: @color-tile-bg;

		&:after {
			height: 100%;
		}
	}

	&.active {
		color: @color-red !important;

		&:after {
			height: 0 !important;
		}
	}
}


// LANGUAGES

.unrealscript:after { border-right-color: @color-unrealscript; }
.javascript:after   { border-right-color: @color-javascript; }
.python:after       { border-right-color: @color-python; }
.java:after         { border-right-color: @color-java; }
