* {
	@include box-sizing();
}

html {
	background: url("img/bg.png") repeat;
}

body {
	margin: 0;
	font-family: $font;
}


/** HEADER **/
/*
.logo {
	display: inline-block;
	width: 128px;
	height: 128px;
}

#title, #tagline {
	position: absolute;
	left: 150px;
	color: #073642;
	font-size: 20px;
	background-color: white;
	padding: 0 4px 0 4px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

#title {
	top: 42px;
	font-weight: bold;
}

#tagline {
	top: 75px;
}

@media(max-width: 576px) {
	#title, #tagline {
		display: none;
	}
}
*/


// ISOTOPE

#iso {
	padding: $tile-margin * 2;
}

.isotope:after {
	content: '';
	display: block;
	clear: both;
}


// ITEMS

.item {
	position: relative;
	float: left;
	width: $tile;
	height: $tile;
	margin: $tile-margin;
}

.item > * {
	margin: 0;
	padding: 0;
}

.project {
	width: $tile4;
	height: $tile2;
}

.x-1 { width:  $tile; }
.y-1 { height: $tile; }
.x-2 { width:  $tile2; }
.y-2 { height: $tile2; }
.x-4 { width:  $tile4; }
.y-4 { height: $tile4; }
.x-6 { width:  $tile6; }
.y-6 { height: $tile6; }

.expandable #content {
	display: none;
}

.project, .about, .nav {
	background-color: $color-tile-bg;
	padding: 10px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.project a {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

p.desc {
	margin-top: 8px;
}

.project:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: 32px solid transparent;
	border-left: 32px solid transparent;
	border-right: 32px solid $color-no-lang;
	pointer-events: none;
}

.nav {
	font-size: 24px;
	text-align: center;
	padding-top: 14px;
}

// LANGUAGES

.unrealscript:after { border-right-color: $color-unrealscript; }
.javascript:after   { border-right-color: $color-javascript; }
.python:after       { border-right-color: $color-python; }
.java:after         { border-right-color: $color-java; }
