$font: 'Open Sans', sans-serif;

// Layout
$tile-margin: 4px;
$tile : 64px;
$tile2: (2 * $tile) + (2 * $tile-margin);
$tile4: (4 * $tile) + (6 * $tile-margin);
$tile6: (6 * $tile) + (10 * $tile-margin);

// Colors
$color-unrealscript: #a54c4d;
$color-javascript  : #f15501;
$color-python      : #3581ba;
$color-java        : #b07219;

$color-no-lang     : #222222;

$color-tile-bg     : #ffffff;
$color-red         : #dc322f;
$color-cobalt      : #073642;
